.filterMenu {
  &__form {
    display: flex;
    flex-direction: column;
  }
  label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
    color: var(--color-gray-700);
  }
  &__item {
    margin-bottom: 24px;
    position: relative;
    input {
      height: 40px;
      width: 100%;
      display: block;
      border: 1px solid var(--color-gray-300);
      border-radius: 8px;
      box-shadow: 0px 1px 2px 0px #0a0d120d;

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding-left: 12px;
      padding-right: 12px;
      outline-color: var(--color-accent);
      color: var(--color-gray-900);
    }
    input:placeholder {
      color: var(--color-gray-500);
      font-weight: 400;
    }
  }
}

.filterMenu--search {
  position: relative;
  display: flex;
  align-items: center;

  input {
    padding-left: 40px;
  }
}
.filterMenu__btn {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
  display: block;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  &:hover {
    svg path {
      stroke: var(--color-accent);
    }
  }
  svg {
    width: 20px;
    height: 20px;
    path {
      transition: all 0.3s;
    }
  }
}

.filterMenu--calendar {
  input[type="date"] {
    padding-left: 40px;
    position: relative;
    color: var(--color-gray-900);
    &::-webkit-datetime-edit {
      color: var(--color-gray-500);
    }
    &:focus::-webkit-datetime-edit {
      color: var(--color-gray-900);
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      width: 32px;
      height: 100%;
      position: absolute;
      left: 0;
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/ico/calendar.svg");
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;
    }
  }
}
