<ul class="menuCourses">
  <li class="menuCourses__item">
    <a class="menuCourses__link active" href="#"> Vše </a>
  </li>
  <li class="menuCourses__item">
    <a class="menuCourses__link" href="#"> Mateřské školy </a>
  </li>
  <li class="menuCourses__item">
    <a class="menuCourses__link" href="#"> Základní školy </a>
  </li>
  <li class="menuCourses__item">
    <a class="menuCourses__link" href="#"> Střední školy </a>
  </li>
</ul>
