.btn-primary {
  height: 2.5rem;
  background: var(--color-accent);
  color: var(--color-light);
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  display: block;
  font-weight: 600;
  &:hover {
    background: #bf7200;
  }
}
