.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  h3,
  h2 {
    margin-bottom: 20px;
    color: var(--color-gray-900);
  }
  h4,
  h5,
  h6 {
    color: var(--color-gray-900);
    margin-bottom: 16px;
  }
  ol {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-gray-600);
    margin: 24px 0;
    counter-reset: item;

    > li {
      counter-increment: item;
      position: relative;
      padding-left: 24px;
      &::before {
        content: counter(item) ".";
        color: var(--color-gray-600);
        font-weight: 400;
        position: absolute;
        top: 0;
        left: 0;
      }
      > ol {
        margin: 16px 0 0;
        > li {
          &::before {
            content: counter(item) ".";
          }
        }
      }
    }
  }
  ul {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--color-gray-600);
    margin: 24px 0;
    > li {
      position: relative;
      padding-left: 24px;
      &::before {
        content: "";
        background-color: var(--color-accent);
        position: absolute;
        top: 10px;
        left: 0;
        width: 8px;
        height: 8px;
      }
      > ul {
        margin: 16px 0 0;
        > li {
          &::before {
            border-radius: 50%;
          }
        }
      }
    }
  }
  q {
    position: relative;
    display: block;
    padding-left: 22px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 2rem 0;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 2px;
      background-color: var(--color-brand-700);
      display: block;
    }
    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: var(--color-gray-900);
      display: block;
      margin-bottom: 32px;
    }
    span {
      display: block;
      color: var(--color-gray-600);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
  img {
    margin: 48px 0;
    object-fit: cover;
    border-radius: 12px;
  }
  p img {
    margin: 0;
  }
  p {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-gray-600);
  }
}
.ico-link {
  width: 16px !important;
  height: 16px !important;
}
.conclusion {
  border-radius: 16px;
  background-color: var(--color-gray-50);
  padding: 32px;
  margin: 48px 0;
  @include media-breakpoint-down(lg) {
    padding-left: 24px;
    padding-right: 24px;
  }
}
