<header class="header">
  <div class="container">
    <div class="header__inner">
      <ul class="header-sponsors">
        <li class="header-sponsors__item">
          <a href="#" class="header-sponsors__link">
            <img src="images/ico/msmt.svg" alt="msmt" />
          </a>
        </li>
      </ul>

      <nav class="navbar">
        <ul class="navbar__menu">
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> O projektu </a>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> Jak to funguje </a>
          </li>
          <li class="navbar__menu-list">
            <div class="navbar__menu-item">Kalendář</div>
            <ul class="dropdown-menu">
              <li class="dropdown-menu__list">
                <a href="#">Kalendář 1</a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#">Kalendář 2 </a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#">Kalendář 3 </a>
              </li>
              <li class="dropdown-menu__list">
                <a href="#">Kalendář 4 </a>
              </li>
            </ul>
          </li>
          <li class="navbar__menu-list">
            <a href="#" class="navbar__menu-item"> Kontakt </a>
          </li>
        </ul>
        <ul
          class="header-sponsors d-xl-none d-flex justify-content-center mt-8"
        >
          <li class="header-sponsors__item">
            <a href="#" class="header-sponsors__link">
              <img src="images/ico/victoria.svg" alt="victoria" />
            </a>
          </li>
          <li class="header-sponsors__item">
            <a href="#" class="header-sponsors__link">
              <img src="images/content/edis.png" alt="EDIS" />
            </a>
          </li>
          <li class="header-sponsors__item">
            <a href="#" class="header-sponsors__link">
              <img src="images/ico/mladez.svg" alt="mladez" />
            </a>
          </li>
        </ul>
      </nav>

      <ul class="header-sponsors d-xl-flex d-none">
        <li class="header-sponsors__item">
          <a href="#" class="header-sponsors__link">
            <img src="images/ico/victoria.svg" alt="victoria" />
          </a>
        </li>
        <li class="header-sponsors__item">
          <a href="#" class="header-sponsors__link">
            <img src="images/content/edis.png" alt="EDIS" />
          </a>
        </li>
        <li class="header-sponsors__item">
          <a href="#" class="header-sponsors__link">
            <img src="images/ico/mladez.svg" alt="mladez" />
          </a>
        </li>
      </ul>
      <button class="c-header__opener js-header__opener" type="button">
        <span></span>
      </button>
    </div>
  </div>
</header>
