<footer class="footer">
  <div class="container">
    <div class="text-center py-8">
      <ul class="text-white text-sm-regular d-flex flex-column gap-4">
        <li>
          Copyright © 2025
          <a target="_blank" href="https://esportsmedia.cz/">eSports.cz</a>,
          s.r.o.
        </li>
        <li>
          <a target="_blank" href="www.vsc.cz">www.vsc.cz</a> by
          <a href="#">VICTORIA Vysokoškolské sportovní centrum MŠMT</a> is
          licensed under <a href="#">CC BY-NC 4.0</a>
        </li>
        <li>
          <a
            href="javascript:void(0);"
            data-cc="c-settings"
            aria-haspopup="dialog"
            >Nastavení cookies</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
