<div class="formular">
  <div class="alert mb-6">Formulář byl odeslán. Děkujeme!</div>
  <div class="filterMenu">
    <form class="formular__form">
      <div class="row">
        <div class="col-md-6">
          <label for="gender">Vaše pohlaví</label>
          <div class="filterMenu__item">
            <select class="js-select" name="gender" id="gender">
              <option></option>
              <option value="man">Muž</option>
              <option value="woman">Žena</option>
              <option value="other">Jiná identita</option>
              <option value="noshow">Nechci uvádět</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <label for="position">
            Jaká je Vaše pozice v rámci pohybových aktivit</label
          >
          <div class="filterMenu__item">
            <select
              class="js-select js-select-multiple"
              name="position[]"
              id="position"
              multiple
            >
              <option></option>
              <option>Učitel MŠ</option>
              <option>Učitel TV – 1. stupeň (1.–2. třída) ZŠ</option>
              <option>Učitel TV – 1. stupeň (3.–5. třída) ZŠ</option>
              <option>Učitel TV – 2. stupeň ZŠ</option>
              <option>Učitel TV – SŠ</option>
              <option>Učitel neTV – 1. stupeň (1.–2. třída) ZŠ</option>
              <option>Učitel neTV – 1. stupeň (3.–5. třída) ZŠ</option>
              <option>Učitel neTV – 2. stupeň ZŠ</option>
              <option>Učitel neTV – SŠ</option>
              <option>Vedoucí pracovník MŠ</option>
              <option>Vedoucí pracovník ZŠ</option>
              <option>Vedoucí pracovník SŠ</option>
              <option>Pracovník DDM</option>
              <option>Trenér</option>
              <option>Žádná z uvedených možností</option>
              <option>Nechci uvádět</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <label for="age">Váš věk</label>
          <div class="filterMenu__item">
            <select class="js-select" name="age" id="age">
              <option></option>
              <option>do 25 let</option>
              <option>26–35 let</option>
              <option>36–45 let</option>
              <option>46–55 let</option>
              <option>56–65 let</option>
              <option>nad 65 let</option>
              <option>Nechci uvádět</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <label for="ratingCourse"
            >Jak byste ohodnotil/a kurz jako celek?</label
          >
          <div class="filterMenu__item">
            <select class="js-select" name="ratingCourse" id="ratingCourse">
              <option></option>
              <option value="1">1 – vynikající</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5 – nedostatečný</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <label for="recommend">Doporučil/a byste kurz kolegovi?</label>
          <div class="filterMenu__item">
            <select class="js-select" name="recommend" id="recommend">
              <option></option>
              <option value="1">1 – určitě ano</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5 – určitě ne</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <label for="newSkills">Přinesl kurz nové poznatky?</label>
          <div class="filterMenu__item">
            <select class="js-select" name="newSkills" id="newSkills">
              <option></option>
              <option value="1">1 – určitě ano</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5 – určitě ne</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <label for="courseLength">Délka kurzu byla...</label>
          <div class="filterMenu__item">
            <select class="js-select" name="courseLength" id="courseLength">
              <option></option>
              <option>Přiměřená</option>
              <option>Příliš krátká</option>
              <option>Příliš dlouhá</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <label for="ratingLecturer">Jak byste ohodnotil/a lektora?</label>
          <div class="filterMenu__item">
            <select class="js-select" name="ratingLecturer" id="ratingLecturer">
              <option></option>
              <option value="1">1 – výborný/á</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5 – velmi slabý/á</option>
            </select>
          </div>
        </div>
        <div class="col-12">
          <label for="bestParts">Které části kurzu byly nejpřínosnější?</label>
          <div class="filterMenu__item">
            <textarea
              id="bestParts"
              name="bestParts"
              rows="3"
              placeholder="Vaše odpověď"
            ></textarea>
          </div>
        </div>
        <div class="col-12">
          <label for="improve">Co byste zlepšil/a?</label>
          <div class="filterMenu__item">
            <textarea
              id="improve"
              name="improve"
              rows="3"
              placeholder="Vaše odpověď"
            ></textarea>
          </div>
        </div>
        <div class="col-12">
          <label for="notes">Další poznámka</label>
          <div class="filterMenu__item">
            <textarea
              id="notes"
              name="notes"
              rows="3"
              placeholder="Vaše odpověď"
            ></textarea>
          </div>
        </div>
      </div>
      <button class="btn-primary mx-auto">Odeslat</button>
    </form>
  </div>
</div>
