<div class="post">
  <a class="post__link" href="#">
    <div class="post__img">
      <img
        loading="lazy"
        width="280"
        height="140"
        srcset="https://picsum.photos/280/140 320w"
        alt="photo"
      />
    </div>
    <p class="text-sm-regular text-primary">
      Psychologické výzvy ve sportu: Přehled projektu
    </p>
  </a>
  <a
    class="post__rate text-xs-medium rounded-16 bg-accent text-white px-2 py-1"
    href="#"
    >Ohodnotit kurz</a
  >
  <ul class="d-flex gap-1 align-items-center flex-wrap">
    <li
      class="text-xs-medium rounded-16 bg-gray-50 text-gray-700 px-2 py-1 border-gray-200"
    >
      25.4.2025
    </li>
    <li
      class="text-xs-medium rounded-16 bg-gray-50 text-gray-700 px-2 py-1 border-gray-200"
    >
      Město
    </li>
  </ul>
</div>
