.post {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  &__link {
    display: block;
    text-decoration: none;
    &:hover {
      .post__img img {
        transform: scale(1.05);
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 280/140;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 12px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }
  &__rate {
    position: absolute;
    top: 12px;
    right: 12px;
    text-decoration: none;
    z-index: 2;
    transition: all 0.2s;
    &:hover {
      background: #c97a00 !important;
    }
  }
}
