:root {
  --color-light: #fff;
  --color-dark: #000;

  --color-dark-purple: #151b33;
  --color-accent: #f49800;

  --color-gray-50: #fafafa;
  --color-gray-200: #e9eaeb;
  --color-gray-300: #d5d7da;
  --color-gray-500: #717680;
  --color-gray-600: #535862;
  --color-gray-700: #414651;
  --color-gray-900: #181d27;
}
