{% extends "@components/base/base.twig" %} 
{% set title = "01.0_homepage" %} {%
block main %}

<div class="container">
  <div class="main-content">
    {% include "@components/sliderCategories/sliderCategories.twig" %}
    <div class="px-sm-8 px-4">
      <div class="row">
        <div class="col-xl-3">
          {% include "@components/filterMenu/filterMenu.twig" %}
        </div>
        <div class="col-xl-9">
          <h1 class="h4 mb-5 fw-bold">Seznam kurzů</h1>
          {% include "@components/menuCourses/menuCourses.twig" %}
          <div class="row g-8">
            <div class="col-lg-4 col-md-6">
              <div class="post post--past">
                <a class="post__link" href="#">
                  <div class="post__img">
                    <img
                      loading="lazy"
                      width="280"
                      height="140"
                      srcset="https://picsum.photos/280/140 320w"
                      alt="photo"
                    />
                  </div>
                  <p class="text-sm-regular text-primary">
                    Psychologické výzvy ve sportu: Přehled projektu
                  </p>
                </a>
                <a
                  class="post__rate text-xs-medium rounded-16 bg-accent text-white px-2 py-1"
                  href="#"
                  >Ohodnotit kurz</a
                >
              </div>
            </div>
            {% for i in 1..11 %}
            <div class="col-lg-4 col-md-6">
              {% include "@components/post/post.twig" %}
            </div>
            {% endfor %}
            <nav aria-label="pagination">
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                   <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
