{% extends "@components/base/base.twig" %} {% set title = "03.0_static" %} {%
block main %}

<div class="container">
  <div class="main-content">
    <div class="px-sm-8 px-4">
      <div class="container-medium">
        <div class="text-center mb-8">
          <h1 class="h1 text-gray-900 mb-6">O projektu</h1>
          <p class="mb-8 text-xl-regular text-gray-600">
            Zajímá vás sportovní kurz, který vás nadchne a posune vaše
            dovednosti na novou úroveň? Přihlaste se k našemu intenzivnímu
            tréninkovému programu, kde se naučíte techniky od profesionálních
            trenérů a získáte nové přátele se stejným zájmem!
          </p>
        </div>
      </div>
      <div class="mb-8">
        <img
          class="object-fit-cover w-100 h-auto"
          loading="lazy"
          srcset="https://picsum.photos/1216/640 320w"
          alt="photo"
        />
      </div>
      <div class="container-medium">
        <div class="o-content">
          <h3>Představení</h3>
          <p>
            Mi tincidunt elit, id quisque ligula ac diam, amet. Vel etiam
            suspendisse morbi eleifend faucibus eget vestibulum felis. Dictum
            quis montes, sit sit. Tellus aliquam enim urna, etiam. Mauris
            posuere vulputate arcu amet, vitae nisi, tellus tincidunt. At
            feugiat sapien varius id.
          </p>
          <p>
            Eget quis mi enim, leo lacinia pharetra, semper. Eget in volutpat
            mollis at volutpat lectus velit, sed auctor. Porttitor fames arcu
            quis fusce augue enim. Quis at habitant diam at. Suscipit tristique
            risus, at donec. In turpis vel et quam imperdiet. Ipsum molestie
            aliquet sodales id est ac volutpat.
          </p>

          <p>
            Ipsum sit mattis nulla quam nulla. Gravida id gravida ac enim mauris
            id. Non pellentesque congue eget consectetur turpis. Sapien, dictum
            molestie sem tempor. Diam elit, orci, tincidunt aenean tempus. Quis
            velit eget ut tortor tellus. Sed vel, congue felis elit erat nam
            nibh orci.
          </p>
          <q>
            <p>
              “In a world older and more complete than ours they move finished
              and complete, gifted with extensions of the senses we have lost or
              never attained, living by voices we shall never hear.”
            </p>
            <span> — Tomáš Řeholník, sportovní trenér </span>
          </q>
          <h4>Co si odnesete z kurzu?</h4>
          <p>
            Sagittis et eu at elementum, quis in. Proin praesent volutpat
            egestas sociis sit lorem nunc nunc sit. Eget diam curabitur mi ac.
            Auctor rutrum lacus malesuada massa ornare et. Vulputate consectetur
            ac ultrices at diam dui eget fringilla tincidunt. Arcu sit dignissim
            massa erat cursus vulputate gravida id. Sed quis auctor vulputate
            hac elementum gravida cursus dis.
          </p>
          <ol>
            <li>Lectus id duis vitae porttitor enim gravida morbi.</li>
            <li>
              Eu turpis posuere semper feugiat volutpat elit, ultrices
              suspendisse. Auctor vel in vitae placerat.
            </li>
            <li>
              Suspendisse maecenas ac donec scelerisque diam sed est duis purus.
            </li>
          </ol>
        </div>
        <div class="conclusion">
          <h4 class="h4 text-gray-900 mb-4">Slovo závěrem</h4>
          <div class="d-flex flex-column gap-5 text-lg-regular text-gray-600">
            <p>
              Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus
              id scelerisque est ultricies ultricies. Duis est sit sed leo nisl,
              blandit elit sagittis. Quisque tristique consequat quam sed. Nisl
              at scelerisque amet nulla purus habitasse.
            </p>
            <p>
              Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas
              condimentum mi massa. In tincidunt pharetra consectetur sed duis
              facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit
              dictum eget nibh tortor commodo cursus.
            </p>
            <p>
              Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce
              aliquet. Nam elementum urna nisi aliquet erat dolor enim. Ornare
              id morbi eget ipsum. Aliquam senectus neque ut id eget consectetur
              dictum. Donec posuere pharetra odio consequat scelerisque et, nunc
              tortor.
            </p>
          </div>
        </div>
        <div class="authorBox">
          <p class="text-md-regular text-gray-600">Lektorka kurzu</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
