{% extends "@components/base/base.twig" %} {% set title = "03.0_static" %} {%
block main %}

<div class="container">
  <div class="main-content">
    <div class="px-sm-8 px-4">
      <div class="container-medium">
        <div class="text-center mb-8">
          <div class="mb-3 text-md-semibold text-gray-500">25.6.2025</div>
          <h1 class="h1 text-gray-900 mb-6">
            Porozumění duševním poruchám ve sportu: Stručný přehled projektu
          </h1>
          <p class="mb-8 text-xl-regular text-gray-600">
            Zajímá vás sportovní kurz, který vás nadchne a posune vaše
            dovednosti na novou úroveň? Přihlaste se k našemu intenzivnímu
            tréninkovému programu, kde se naučíte techniky od profesionálních
            trenérů a získáte nové přátele se stejným zájmem!
          </p>
          <ul
            class="d-flex gap-1 align-items-center flex-wrap justify-content-center"
          >
            <li
              class="text-sm-medium rounded-16 bg-gray-50 text-gray-700 px-2 py-1 border-gray-200"
            >
              Cílová skupina
            </li>
            <li
              class="text-sm-medium rounded-16 bg-gray-50 text-gray-700 px-2 py-1 border-gray-200"
            >
              Forma kurzu
            </li>
            <li
              class="text-sm-medium rounded-16 bg-gray-50 text-gray-700 px-2 py-1 border-gray-200"
            >
              Město
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
