{% extends "@components/base/base.twig" %} {% set title = "05.0_calendar" %} {%
block main %}

<div class="container">
  <div class="main-content">
    {% include "@components/sliderCategories/sliderCategories.twig" %}
    <div class="px-sm-8 px-4">
      <div class="row">
        <div class="col-xl-3">
          <div class="filterMenu">
            <h3 class="h4 fw-bold mb-6">Filtrování</h3>
            <form class="filterMenu__form">
              <label for="searchCourse">Vyhledávání</label>
              <div class="filterMenu__item filterMenu--search">
                <button class="filterMenu__btn">
                  {% include "@images/search.svg" %}
                </button>

                <input
                  id="searchCourse"
                  name="searchCourse"
                  type="text"
                  placeholder="Název kurzu"
                />
              </div>
              <label for="city">Město</label>
              <div class="filterMenu__item">
                <input
                  type="text"
                  id="city"
                  name="city"
                  placeholder="Např. Praha"
                />
              </div>
              <label for="school">Vysoká škola</label>
              <div class="filterMenu__item">
                <select
                  class="js-select js-select-multiple"
                  multiple
                  name="school[]"
                  id="school"
                >
                  <option></option>
                  {# placeholder #}
                  <option value="1">škola 1</option>
                  <option value="2">škola 1</option>
                  <option value="3">škola 1</option>
                  <option value="4">škola 1</option>
                  <option value="5">škola 1</option>
                </select>
              </div>
              <label for="groupCourse">Cílová skupina</label>
              <div class="filterMenu__item">
                <select
                  class="js-select js-select-multiple"
                  multiple
                  name="groupCourse[]"
                  id="groupCourse"
                >
                  <option></option>
                  {# placeholder #}
                  <option value="1">skupina 1</option>
                  <option value="2">skupina 1</option>

                  <option value="3">skupina 1</option>
                  <option value="4">skupina 1</option>
                  <option value="5">skupina 1</option>
                </select>
              </div>
              <label for="formCourse">Forma kurzu</label>
              <div class="filterMenu__item">
                <select
                  class="js-select js-select-multiple"
                  name="formCourse[]"
                  multiple
                  id="formCourse"
                >
                  <option></option>
                  {# placeholder #}
                  <option value="1">Forma 1</option>
                  <option value="2">Forma 1</option>

                  <option value="3">Forma 1</option>
                  <option value="4">Forma 1</option>
                  <option value="5">Forma 1</option>
                </select>
              </div>
              <label for="formCourse">Forma vzdělávání</label>
              <div class="filterMenu__item">
                <select
                  class="js-select js-select-multiple"
                  name="formEducation[]"
                  multiple
                  id="formEducation"
                >
                  <option></option>
                  {# placeholder #}
                  <option value="1">vzdělávání 1</option>
                  <option value="2">vzdělávání 1</option>

                  <option value="3">vzdělávání 1</option>
                  <option value="4">vzdělávání 1</option>
                  <option value="5">vzdělávání 1</option>
                </select>
              </div>
              <label for="formDate">Kalendář </label>
              <div class="filterMenu__item filterMenu--calendar">
                <input
                  placeholder="Vyberte"
                  type="text"
                  id="picker-js"
                  name="formDate"
                />
              </div>
              <button class="btn-primary">Vyhledat</button>
            </form>
          </div>
        </div>
        <div class="col-xl-9">
          <h1 class="h4 mb-5 fw-bold">Kalendář</h1>
          {% include "@components/menuCourses/menuCourses.twig" %}
          <div class="row g-8">
            <div class="col-lg-4 col-md-6">
              <div class="post post--past">
                <a class="post__link" href="#">
                  <div class="post__img">
                    <img
                      loading="lazy"
                      width="280"
                      height="140"
                      srcset="https://picsum.photos/280/140 320w"
                      alt="photo"
                    />
                  </div>
                  <p class="text-sm-regular text-primary">
                    Psychologické výzvy ve sportu: Přehled projektu
                  </p>
                </a>
                <a
                  class="post__rate text-xs-medium rounded-16 bg-accent text-white px-2 py-1"
                  href="#"
                  >Ohodnotit kurz</a
                >
                <ul class="d-flex gap-1 align-items-center flex-wrap">
                  <li
                    class="text-xs-medium rounded-16 bg-gray-50 text-gray-700 px-2 py-1 border-gray-200"
                  >
                    25.4.2025
                  </li>
                  <li
                    class="text-xs-medium rounded-16 bg-gray-50 text-gray-700 px-2 py-1 border-gray-200"
                  >
                    Město
                  </li>
                </ul>
              </div>
            </div>
            {% for i in 1..11 %}
            <div class="col-lg-4 col-md-6">
              {% include "@components/post/post-2.twig" %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
